body, html {
    height:100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.container{
    overflow: auto;
    width: 100% !important;
    height:100%;
    float: left;
    margin: 0;
    background-image: url("../images/pozadina.png");
    background-size: cover;
    color: rgba(255,255,255,0.87);
}

.loginWrapper {
    height: 50%;
    width: 30%;
    background: white;
    color: black;
    position: absolute;
    top: 25%;
    left: 35%;
    padding: 2%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.loginContainer {
    height: 70%;
    position: absolute;
    top: 15%;
    width:80%;
    left:10%;
}

.loginBanner {
    margin-top: 0;
}

#msgContainer {
    position: absolute;
    right: 0;
    top: 0;
    height: 90%;
    overflow: auto;
    width: 70%;
    padding: 15px;
}

.mainContainer {
    min-height: 600px;
    position: absolute;
    height: 90%;
    background: white;
    border-radius: 4px;
    color: black;
    width: 84%;
    top:5%;
    left: 8%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.message {
    width: 100%;
    float:left;
}

.recMsg {
    width:auto;
    min-width:25%;
    float: left;
}

.sentMsg {
    width: auto;
    min-width:25%;
    float:right;
}

.msgElement {
    float:left;
}

.header {
    background-color: #668cff;
    width: 100%;
    height: 0%;
}

.navbar {
    height: 100%;
}

.sentMsg > .msgMsg {
    margin:15px;
    padding:5px 12px;
    max-width:calc(100% - 80px);
    min-width:80px;
    background-color:rgba(211,211,211,0.32);
    border-radius: 10px;
    border:1px rgba(0,0,0,0.15) solid;
    float:right;
    word-wrap: break-word;
}

.recMsg > .msgMsg {
    float:left;
    margin:15px;
    padding:5px 12px;
    max-width:calc(100% - 120px);
    min-width:80px;
    background-color:rgba(211,211,211,0.32);
    border-radius: 10px;
    border:1px rgba(0,0,0,0.15) solid;
}

.msgName {
    display: none;    
}

.sentMsg > .msgImage {
    float:right;
}

img{
    border-radius: 50px;
}

.recMsg > .msgImage {
    float: left;
    border-radius: 50px;

}

.sendContainer {
  height:10%;
  position: absolute;
  bottom: 0;
  right:0;
  padding: 10px 5%;
  width: 70%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #668cff;
  border: none;
  margin:0;
}

.groupContainer {
    position: absolute;
    left: 0;
    width: 30%;
    height: 90%;
    top:10%;
    border-right: 1px rgba(50,50,50,0.15) solid;
    overflow-y: auto;
}

.msgForm {
    height:100%;
    width: 100%;
    float:left;
}

.msgForm > input {
    height:100% !important;
}

#typing {
    width: 100%;
    text-align: right;
    float: left;
}

.groupHeader {
    width: 30%;
    border-bottom: 1px rgba(50,50,50,0.32) solid;
    height: 10%;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px rgba(50,50,50,0.15) solid;
}

.groupTitle {
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: x-large;
    width: 85%;
    float: left;
    margin:0;
}

.snippetContainer {
    width: 100%;
    float: left;
    height: 15%;
    padding: 5px 15px 5px 20px;
    border-bottom: 1px solid rgba(50,50,50,0.42);
}

.snippetContainer:hover {
    background: lightgrey;
    cursor: pointer;
}
.snippetElem {
    float:left;
}

.snippetGroup {
    width: 60%;
    font-size: 14pt;
}

.snippetMsg {
    margin-top: 5%;
    width: auto;
    min-width:60%;
    max-width:60%;
    overflow-x: hidden;
    white-space: nowrap;
}


.snippetImage {
    float: right;
    height: auto;
    max-width: 30%;
    max-height: 100%;
    width: auto;
    border-radius: 50px;
}

.groupActive {
    background: lightgrey;
}

.button:hover {background-color:#0066ff}

.button:active {
  background-color: #0066ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.addBtn {
    background: white;
    border: 0;
    float: left;
    width:15%;
    height: 100%;
}

.addBtn:hover {
    background: lightgrey;
}

.modal-content {
    color: black;
    width: 60%;
    margin-left: 20%;
}


.modal-body > input {
    margin-bottom: 5%;
}