<div ng-class='{recMsg:!message.sent,sentMsg:message.sent}'>
    <div class='msgElement msgImage'>
        <img ng-src='https://www.gravatar.com/avatar/{{ message.email | gravatar }}' data-toggle='tooltip' title='{{message.name}}' height='50px' width='50px'/>
    </div>
    <div class='msgElement msgMsg' ng-bind='message.msg'></div>
</div>