<div class='snippetContainer' ng-class='{moveToTop: moveToTop}'>
    <div class='snippetElem snippetGroup' ng-bind='group'></div>
    <img class='snippetElem snippetImage' ng-src='https://www.gravatar.com/avatar/{{ email | gravatar }}' height='50px' width='50px'/>
    <div class='snippetElem snippetMsg' ng-bind='msg'></div>
    <i class='snippetNew' ng-show='newMessage>0'>+{{newMessage}}</i>
</div>