<!doctype html>
<html ng-app='chatRoomApp'>
  <head ng-controller='HeaderCtrl'>
    <meta charset="utf-8">
    <title>{{title}}Danema Chat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <script src="bower_components/angular/angular.js"></script>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
 
    <div class="container">
     <div ui-view></div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/group.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/factory/socketFactory.js"></script>
        <script src="scripts/factory/headerFactory.js"></script>
        <script src="scripts/factory/messageFactory.js"></script>
        <script src="scripts/directives/message.js"></script>
        <script src="scripts/directives/snippet.js"></script>
</body>
</html>
