<div id='msgContainer'>
    <my-msg class='message' ng-repeat='message in messages track by $index'>
    </my-msg>
    
    <div id='typing' ng-show='typingName'>{{typingName}} is typing...</div>
</div>

<div class='sendContainer' >
    <form name='msgForm' class='msgForm' autocomplete='off'>
        <input type="text" class='form-control' ng-model='message' id='typeMsg' ng-change='userTyping()' placeholder='Message' />
        <input type="submit" class='btn-primary' ng-click='sendMessage()' style='display:none' value="Submit">
    </form>
</div>