<section class='loginWrapper'>

    <div class='loginContainer'>
        <h3 class='loginBanner'>Login</h3>
        <ng-form name='loginForm'>
            <div class='form-group'>
                <label for="Name">Name</label>
                <input id="Name" type="text" name="Name" ng-model='username' class='form-control' placeholder='Username' required/>
            </div>
            
            <div class='form-group'>
                <label for="Email">Email</label>
                <input id="Email" type="email" name="Email" ng-model='email' placeholder='Email' class='form-control' required/>
            </div>
            <button type="submit" value="Submit" class='btn btn-primary' ng-click='setName()'>Submit</button>
        </ng-form>
    </div>
</section>

