<div class='mainContainer'>
<div ui-view>
</div>

<div class='groupHeader'>
    <h1 class='groupTitle'>Groups: </h1>
    <button data-toggle="modal" data-target="#myModal" class='addBtn'><i class="material-icons">add</i></button>
</div>
  
<div class='groupContainer'>
  <my-snippet ng-repeat='snippet in snippets track by $index' index='{{$index}}' focus='{{focus}}' ng-click='joinGroup(snippet.group,$index)' ui-sref='groups.groupPage({groupName:snippet.group})' snippet='snippet'>
  </my-snippet>  
</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Group</h4>
      </div>
      <div class="modal-body">
        <input type='text' class='form-control' ng-model='group' />
      </div>
      <div class="modal-footer">
        <input type='submit' class='btn btn-primary' ng-click='sendGroup()' />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>